{{page-title "Welcome"}}
{{outlet}}
<div class="pageBox" style="text-align: center; background-color:#a0e7e5; height:60%;" >
    <header class="secondHeader">WELCOME TO EVAN'S TO-DO APP</header>
</div>

<div class="pageBoxS">
    <p>This app was designed to give you an easy place to store and manage your to-do list</p>
</div>
